---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=florian%40thredup&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1440945889190,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 30 Aug 2015 14:44:49 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/campaigns/rspec_campaign1/email
    body:
      encoding: UTF-8
      string: '{"recipientData":[{"recipient":{"listName":{"folderName":"rspec_tests","objectName":"rspec_list1"},"recipientId":null,"customerId":null,"emailAddress":"user1@email.com","mobileNumber":null,"emailFormat":null},"optionalData":null}]}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorMessage":null,"success":true,"recipientId":48614925}]'
  recorded_at: Sun, 30 Aug 2015 14:44:51 GMT
recorded_with: VCR 2.9.3
