---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1433394081874,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Thu, 04 Jun 2015 05:01:24 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/campaigns/rspec_campaign1/email
    body:
      encoding: UTF-8
      string: '{"recipientData":[{"recipient":{"listName":{"folderName":"rspec_tests","objectName":"rspec_list1"},"recipientId":0,"customerId":"","emailAddress":"user1@email.com","mobileNumber":"","emailFormat":"NO_FORMAT"},"optionalData":null},{"recipient":{"listName":{"folderName":"rspec_tests","objectName":"rspec_list1"},"recipientId":0,"customerId":"","emailAddress":"user2@email.com","mobileNumber":"","emailFormat":"NO_FORMAT"},"optionalData":null}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorMessage":null,"success":true,"recipientId":48614925},{"errorMessage":null,"success":true,"recipientId":48614965}]'
  recorded_at: Thu, 04 Jun 2015 05:01:24 GMT
recorded_with: VCR 2.9.3
