---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=your_responsys_username&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1441110690424,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Tue, 01 Sep 2015 12:31:30 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/events/rspec_event1
    body:
      encoding: UTF-8
      string: '{"customEvent":{"eventName":"rspec_event1","eventId":null,"eventStringDataMapping":null,"eventDateDataMapping":null,"eventNumberDataMapping":null},"recipientData":[{"recipient":{"listName":{"folderName":"rspec_tests","objectName":"rspec_list1"},"recipientId":null,"customerId":null,"emailAddress":"user1@email.com","mobileNumber":null,"emailFormat":null},"optionalData":null},{"recipient":{"listName":{"folderName":"rspec_tests","objectName":"rspec_list1"},"recipientId":null,"customerId":null,"emailAddress":"user2@email.com","mobileNumber":null,"emailFormat":null},"optionalData":null}]}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorMessage":null,"success":true,"recipientId":48614925},{"errorMessage":null,"success":true,"recipientId":48614965}]'
  recorded_at: Tue, 01 Sep 2015 12:31:31 GMT
recorded_with: VCR 2.9.3
