*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
lib/.DS_Store
lib/responsys/.DS_Store
.rvmrc
.idea/
.ruby-version

spec/api_credentials.yml
