---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"EeJ-os7ol8NTf40WKAOiqc6_FydsAtPLxKrsuHsNmM1cjO7nblbpiT6SrT7r","issuedAt":1433142382205,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Mon, 01 Jun 2015 07:06:23 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1/listExtensions/rspec_pet1
    body:
      encoding: UTF-8
      string: '{"recordData":{"fieldNames":["RIID_","MONTHLY_PURCH"],"records":[{"fieldValues":[48614925,300]}]},"insertOnNoMatch":true,"updateOnMatch":"REPLACE_ALL","matchColumn":"RIID"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - EeJ-os7ol8NTf40WKAOiqc6_FydsAtPLxKrsuHsNmM1cjO7nblbpiT6SrT7r
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorMessage":null,"recipientId":48614925}]'
  recorded_at: Mon, 01 Jun 2015 07:06:24 GMT
recorded_with: VCR 2.9.3
