---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=your_responsys_username&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1441110673883,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Tue, 01 Sep 2015 12:31:13 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1/listExtensions/rspec_pet1
    body:
      encoding: UTF-8
      string: '{"recordData":{"fieldNames":["RIID_","MONTHLY_PURCH"],"records":[{"fieldValues":[48614925,300]}]},"insertOnNoMatch":true,"updateOnMatch":"REPLACE_ALL","matchColumn":"RIID"}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"errorMessage":null,"recipientId":48614925}]'
  recorded_at: Tue, 01 Sep 2015 12:31:14 GMT
recorded_with: VCR 2.9.3
