---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"E8Y-bsQN8dKfvCtBarAC6F7MqltTZ5An2OBPWLKvGLMEnjNO8YAV4THLWum0","issuedAt":1433142382602,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Mon, 01 Jun 2015 07:06:24 GMT
- request:
    method: get
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1/listExtensions/rspec_pet1?fs=RIID_,MONTHLY_PURCH&id=48614925&qa=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - E8Y-bsQN8dKfvCtBarAC6F7MqltTZ5An2OBPWLKvGLMEnjNO8YAV4THLWum0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"records":[{"fieldValues":["48614925","300"]}],"fieldNames":["RIID_","MONTHLY_PURCH"],"mapTemplateName":null}'
  recorded_at: Mon, 01 Jun 2015 07:06:24 GMT
recorded_with: VCR 2.9.3
