---
http_interactions:
- request:
    method: post
    uri: https://wsxxxx.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>YnceLODfqtw8PZNx7KofAGcyVT</sessionId></sessionHeader></env:Header><env:Body><tns:mergeIntoProfileExtension><tns:profileExtension><tns:folderName>another_test_folder</tns:folderName><tns:objectName>test_profile_extension</tns:objectName></tns:profileExtension><tns:recordData><tns:fieldNames>EMAIL_ADDRESS_</tns:fieldNames><tns:fieldNames>MONTHLY_PURCH</tns:fieldNames><tns:records><tns:fieldValues>user2@email.com</tns:fieldValues><tns:fieldValues>3000</tns:fieldValues></tns:records></tns:recordData><tns:matchColumn>EMAIL_ADDRESS</tns:matchColumn><tns:insertOnNoMatch>true</tns:insertOnNoMatch><tns:updateOnMatch>REPLACE_ALL</tns:updateOnMatch></tns:mergeIntoProfileExtension></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"mergeIntoProfileExtension"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><mergeIntoProfileExtensionResponse
        xmlns="urn:ws.rsys.com"><recipientResult><recipientId>398429</recipientId><errorMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></recipientResult></mergeIntoProfileExtensionResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 20 Aug 2014 20:54:25 GMT
recorded_with: VCR 2.5.0
