---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1433658933201,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 07 Jun 2015 06:35:42 GMT
- request:
    method: get
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1?fs=EMAIL_PERMISSION_STATUS_&id=000001&qa=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Record not found","errorCode":"RECORD_NOT_FOUND","detail":"No
        records found in the list for given ids","errorDetails":[]}'
  recorded_at: Sun, 07 Jun 2015 06:35:42 GMT
recorded_with: VCR 2.9.3
