---
http_interactions:
- request:
    method: get
    uri: https://wsxxxx.responsys.net/webservices/wsdl/ResponsysWS_Level1.wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\n<definitions targetNamespace=\"urn:ws.rsys.com\"
        \n             xmlns=\"http://schemas.xmlsoap.org/wsdl/\" \n             xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        \n             xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n             xmlns:tns=\"urn:ws.rsys.com\"\n
        \            xmlns:fns=\"urn:fault.ws.rsys.com\">\n    <documentation>This
        WSDL contains the APIs needed for customers to integrate their applications
        with Responsys Interact.</documentation>\n    <types>\n        <xsd:schema>\n
        \           <xsd:import namespace=\"urn:ws.rsys.com\" schemaLocation=\"../services/ResponsysWSService/_resources_/xsd/ResponsysWSTypes_Schema.xsd\"/>\n
        \       </xsd:schema>\n        \n        <xsd:schema>\n            <xsd:import
        namespace=\"urn:fault.ws.rsys.com\" schemaLocation=\"../services/ResponsysWSService/_resources_/xsd/ResponsysWSFaults_Schema.xsd\"/>\n
        \       </xsd:schema>\n    </types>\n    \n    <!-- Header Message -->\n    <message
        name=\"Header\">\n        <part element=\"tns:SessionHeader\" name=\"SessionHeader\"/>\n
        \   </message>\n    \n    <message name=\"AuthHeader\">\n        <part element=\"tns:AuthSessionHeader\"
        name=\"AuthSessionHeader\"/>\n    </message>\n    <!-- Header Message -->\n
        \   \n    <!-- Fault Messages -->\n    <message name=\"ApiFault\">\n        <part
        name=\"fault\" type=\"fns:ApiFault\"/>\n    </message>\n    \n    <message
        name=\"AccountFault\">\n        <part name=\"fault\" element=\"fn[...]
- request:
    method: post
    uri: https://wsxxxx.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:login><tns:username>your_responsys_username</tns:username><tns:password>your_responsys_password</tns:password></tns:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"login"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><loginResponse
        xmlns="urn:ws.rsys.com"><result><sessionId>bBvxPCXScxL40VhQx6JFG6ziO9</sessionId></result></loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 29 Aug 2014 22:31:03 GMT
- request:
    method: post
    uri: https://wsxxxx.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>bBvxPCXScxL40VhQx6JFG6ziO9</sessionId></sessionHeader></env:Header><env:Body><tns:retrieveListMembers><tns:list><tns:folderName>another_test_folder</tns:folderName><tns:objectName>test_list</tns:objectName></tns:list><tns:queryColumn>EMAIL_ADDRESS</tns:queryColumn><tns:fieldList>EMAIL_PERMISSION_STATUS_</tns:fieldList><tns:idsToRetrieve>user@email.com</tns:idsToRetrieve></tns:retrieveListMembers></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"retrieveListMembers"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><retrieveListMembersResponse
        xmlns="urn:ws.rsys.com"><result><recordData><fieldNames>EMAIL_PERMISSION_STATUS_</fieldNames><records><fieldValues>I</fieldValues></records></recordData></result></retrieveListMembersResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 29 Aug 2014 22:31:03 GMT
recorded_with: VCR 2.5.0
