---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=your_responsys_username&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1441110975806,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Tue, 01 Sep 2015 12:36:15 GMT
- request:
    method: get
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1?fs=EMAIL_PERMISSION_STATUS_&id=48614925&qa=r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"records":[{"fieldValues":["I"]}],"mapTemplateName":null,"fieldNames":["EMAIL_PERMISSION_STATUS_"]}'
  recorded_at: Tue, 01 Sep 2015 12:36:16 GMT
recorded_with: VCR 2.9.3
