---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=your_responsys_username&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Correlationid:
      - Id-97d71b56f90d11008a2000004c809b75 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1444665239050,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Mon, 12 Oct 2015 15:53:59 GMT
- request:
    method: get
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1?fs=RIID_&id=totally.unknown.user@email.com&qa=e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Correlationid:
      - Id-97d71b56b1fc1000b6200000a66b0282 0
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Record not found","errorCode":"RECORD_NOT_FOUND","detail":"No
        records found in the list for given ids","errorDetails":[]}'
  recorded_at: Mon, 12 Oct 2015 15:53:59 GMT
recorded_with: VCR 2.9.3
