---
http_interactions:
- request:
    method: post
    uri: https://ws5.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>fake_session_id</sessionId></sessionHeader></env:Header><env:Body><tns:listFolders></tns:listFolders></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"listFolders"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><soapenv:Fault><faultcode>soapenv:Server</faultcode><faultstring>UnexpectedErrorFault</faultstring><detail><UnexpectedErrorFault
        xmlns="urn:fault.ws.rsys.com"><exceptionCode>INVALID_SESSION_ID</exceptionCode><exceptionMessage>Session
        not available in the system. Please login.</exceptionMessage></UnexpectedErrorFault></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 06 Nov 2014 06:38:23 GMT
- request:
    method: post
    uri: https://ws5.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>1pPide5TFyjz0FVxB5SKF1f5Np</sessionId></sessionHeader></env:Header><env:Body><tns:listFolders></tns:listFolders></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"listFolders"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><listFoldersResponse
        xmlns="urn:ws.rsys.com"><result><name>!Campaign_Templates</name></result><result><name>!LinkTables</name></result><result><name>!MasterData</name></result><result><name>!MasterFilters</name></result><result><name>!MasterSQLQueries</name></result><result><name>!Trigger_Templates</name></result><result><name>another_test_folder</name></result><result><name>campaign_4_export_data</name></result><result><name>demo_folder2</name></result><result><name>rspec_tests</name></result><result><name>Segments</name></result><result><name>Standard_Warmup</name></result><result><name>z_ComprehensiveAccountTesting</name></result><result><name>z_Responsys_Support</name></result><result><name>~System</name></result></listFoldersResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 06 Nov 2014 06:38:23 GMT
recorded_with: VCR 2.9.3
