---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=florian%40thredup&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1440941918376,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 30 Aug 2015 13:38:38 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1
    body:
      encoding: UTF-8
      string: '{"list":{"folderName":"rspec_tests"},"recordData":{"fieldNames":["EMAIL_ADDRESS_","MOBILE_NUMBER_"],"records":[{"fieldValues":["user1@email.com","0000000001"]}]},"mergeRule":{"insertOnNoMatch":false,"updateOnMatch":"REPLACE_ALL","matchColumnName1":"MOBILE_NUMBER_","matchColumnName2":"","matchColumnName3":"","matchOperator":"AND","optinValue":"I","optoutValue":"O","htmlValue":"H","textValue":"T","rejectRecordIfChannelEmpty":"","defaultPermissionStatus":"OPTOUT"}}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updateCount":1,"errorMessage":null,"insertCount":0,"totalCount":1,"rejectedCount":0}'
  recorded_at: Sun, 30 Aug 2015 13:38:40 GMT
recorded_with: VCR 2.9.3
