---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1433056051225,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 31 May 2015 07:07:33 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1
    body:
      encoding: UTF-8
      string: '{"list":{"folderName":"rspec_tests"},"recordData":{"fieldNames":["EMAIL_ADDRESS_","MOBILE_NUMBER_"],"records":[{"fieldValues":["user1@email.com","0000000001"]}]},"mergeRule":{"insertOnNoMatch":false,"updateOnMatch":"REPLACE_ALL","matchColumnName1":"MOBILE_NUMBER_","matchColumnName2":"","matchColumnName3":"","matchOperator":"AND","optinValue":"I","optoutValue":"O","htmlValue":"H","textValue":"T","rejectRecordIfChannelEmpty":"","defaultPermissionStatus":"OPTOUT"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updateCount":1,"errorMessage":null,"insertCount":0,"totalCount":1,"rejectedCount":0}'
  recorded_at: Sun, 31 May 2015 07:07:33 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1
    body:
      encoding: UTF-8
      string: '{"list":{"folderName":"rspec_tests"},"recordData":{"fieldNames":["EMAIL_ADDRESS_","MOBILE_NUMBER_"],"records":[{"fieldValues":["user1@email.com","0000000001"]}],"mapTemplateName":null},"mergeRule":{"insertOnNoMatch":false,"updateOnMatch":"REPLACE_ALL","matchColumnName1":"MOBILE_NUMBER_","matchColumnName2":"","matchColumnName3":"","matchOperator":"AND","optinValue":"I","optoutValue":"O","htmlValue":"H","textValue":"T","rejectRecordIfChannelEmpty":"","defaultPermissionStatus":"OPTOUT"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Unexpected exception","errorCode":"UNEXPECTED_EXCEPTION","detail":"An
        error occured while processing the request","errorDetails":[]}'
  recorded_at: Mon, 01 Jun 2015 02:47:01 GMT
recorded_with: VCR 2.9.3
