---
http_interactions:
- request:
    method: post
    uri: https://ws5.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>EcDzcMqpY504CFUmPeekSEYQF0</sessionId></sessionHeader></env:Header><env:Body><tns:mergeListMembers><tns:list><tns:folderName>rspec_tests</tns:folderName><tns:objectName>rspec_list1</tns:objectName></tns:list><tns:recordData><tns:fieldNames>Email_Address_</tns:fieldNames><tns:fieldNames>Mobile_Number_</tns:fieldNames><tns:records><tns:fieldValues>user1@email.com</tns:fieldValues><tns:fieldValues>0000000001</tns:fieldValues></tns:records></tns:recordData><tns:mergeRule><tns:insertOnNoMatch>false</tns:insertOnNoMatch><tns:updateOnMatch>REPLACE_ALL</tns:updateOnMatch><tns:matchColumnName1>Mobile_Number_</tns:matchColumnName1><tns:matchColumnName2></tns:matchColumnName2><tns:matchColumnName3></tns:matchColumnName3><tns:matchOperator>AND</tns:matchOperator><tns:optinValue>I</tns:optinValue><tns:optoutValue>O</tns:optoutValue><tns:htmlValue>H</tns:htmlValue><tns:textValue>T</tns:textValue><tns:rejectRecordIfChannelEmpty></tns:rejectRecordIfChannelEmpty><tns:defaultPermissionStatus>OPTOUT</tns:defaultPermissionStatus></tns:mergeRule></tns:mergeListMembers></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"mergeListMembers"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><mergeListMembersResponse
        xmlns="urn:ws.rsys.com"><result><insertCount>0</insertCount><updateCount>1</updateCount><rejectedCount>0</rejectedCount><totalCount>1</totalCount><errorMessage
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></result></mergeListMembersResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 06 Nov 2014 07:07:42 GMT
recorded_with: VCR 2.9.3
