---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1433056050912,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 31 May 2015 07:07:33 GMT
- request:
    method: get
    uri: https://api5-011.responsys.net/rest/api/v1/lists/rspec_list1?fs=EMAIL_ADDRESS_&id=user1@email.com&qa=e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"records":[{"fieldValues":["user1@email.com"]}],"mapTemplateName":null,"fieldNames":["EMAIL_ADDRESS_"]}'
  recorded_at: Sun, 31 May 2015 07:07:33 GMT
recorded_with: VCR 2.9.3
