---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=fake&user_name=fake
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Invalid username or password","errorCode":"INVALID_USER_NAME_PASSWORD","detail":"","errorDetails":[]}'
  recorded_at: Sun, 07 Jun 2015 07:44:28 GMT
recorded_with: VCR 2.9.3
