---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=fake&password=fake&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"type":"","title":"Invalid username or password","errorCode":"INVALID_USER_NAME_PASSWORD","detail":"","errorDetails":[]}'
  recorded_at: Sun, 30 Aug 2015 14:42:09 GMT
recorded_with: VCR 2.9.3
