---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=florian%40thredup&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1440945785321,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 30 Aug 2015 14:43:05 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/folders/rspec_tests/suppData/
    body:
      encoding: UTF-8
      string: '{"table":{"objectName":"table_temp_1440945784"},"fields":[{"fieldName":"field1","fieldType":"STR500","custom":false,"dataExtractionKey":false},{"fieldName":"field2","fieldType":"NUMBER","custom":false,"dataExtractionKey":false},{"fieldName":"field3","fieldType":"TIMESTAMP","custom":false,"dataExtractionKey":false}],"primaryKeys":["field1"]}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: 'true'
  recorded_at: Sun, 30 Aug 2015 14:43:07 GMT
recorded_with: VCR 2.9.3
