---
http_interactions:
- request:
    method: post
    uri: https://ws5.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>Umup1zvQo5WaiMnjCDYmjVkIB9</sessionId></sessionHeader></env:Header><env:Body><tns:createTableWithPK><tns:table><tns:folderName>rspec_tests</tns:folderName><tns:objectName>table_with_pk_1415258811</tns:objectName></tns:table><tns:fields><tns:fieldName>field1</tns:fieldName><tns:fieldType>STR500</tns:fieldType><tns:custom>false</tns:custom><tns:dataExtractionKey>false</tns:dataExtractionKey></tns:fields><tns:fields><tns:fieldName>field2</tns:fieldName><tns:fieldType>NUMBER</tns:fieldType><tns:custom>false</tns:custom><tns:dataExtractionKey>false</tns:dataExtractionKey></tns:fields><tns:fields><tns:fieldName>field3</tns:fieldName><tns:fieldType>TIMESTAMP</tns:fieldType><tns:custom>false</tns:custom><tns:dataExtractionKey>false</tns:dataExtractionKey></tns:fields><tns:primaryKeys>field1</tns:primaryKeys></tns:createTableWithPK></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"createTableWithPK"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><createTableWithPKResponse
        xmlns="urn:ws.rsys.com"><result>true</result></createTableWithPKResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 06 Nov 2014 07:26:52 GMT
recorded_with: VCR 2.9.3
