---
http_interactions:
- request:
    method: post
    uri: https://wsxxxx.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>YnceLODfqtw8PZNx7KofAGcyVT</sessionId></sessionHeader></env:Header><env:Body><tns:createTable><tns:table><tns:folderName>another_test_folder</tns:folderName><tns:objectName>table_1408568062</tns:objectName></tns:table><tns:fields><tns:fieldName>field1</tns:fieldName><tns:fieldType>STR500</tns:fieldType><tns:custom>false</tns:custom><tns:dataExtractionKey>false</tns:dataExtractionKey></tns:fields><tns:fields><tns:fieldName>field2</tns:fieldName><tns:fieldType>NUMBER</tns:fieldType><tns:custom>false</tns:custom><tns:dataExtractionKey>false</tns:dataExtractionKey></tns:fields><tns:fields><tns:fieldName>field3</tns:fieldName><tns:fieldType>TIMESTAMP</tns:fieldType><tns:custom>false</tns:custom><tns:dataExtractionKey>false</tns:dataExtractionKey></tns:fields></tns:createTable></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"createTable"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><createTableResponse
        xmlns="urn:ws.rsys.com"><result>true</result></createTableResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 20 Aug 2014 20:54:23 GMT
recorded_with: VCR 2.5.0
