---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token?auth_type=password&password=your_responsys_password&user_name=your_responsys_username
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1433312331604,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Wed, 03 Jun 2015 06:18:54 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/folders/rspec_tests/suppData/
    body:
      encoding: UTF-8
      string: '{"table":{"objectName":"table_temp_1433312334"},"fields":[{"fieldName":"field1","fieldType":"STR500","custom":false,"dataExtractionKey":false},{"fieldName":"field2","fieldType":"NUMBER","custom":false,"dataExtractionKey":false},{"fieldName":"field3","fieldType":"TIMESTAMP","custom":false,"dataExtractionKey":false}],"primaryKeys":["field1"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - AUTH_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: 'true'
  recorded_at: Wed, 03 Jun 2015 06:18:55 GMT
recorded_with: VCR 2.9.3
