---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=your_responsys_username&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1441110940463,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Tue, 01 Sep 2015 12:35:40 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/folders/rspec_tests/suppData/
    body:
      encoding: UTF-8
      string: '{"table":{"objectName":"table_temp_1441110939"},"fields":[{"fieldName":"field1","fieldType":"STR500","custom":false,"dataExtractionKey":false},{"fieldName":"field2","fieldType":"NUMBER","custom":false,"dataExtractionKey":false},{"fieldName":"field3","fieldType":"TIMESTAMP","custom":false,"dataExtractionKey":false}],"primaryKeys":["field1"]}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: 'true'
  recorded_at: Tue, 01 Sep 2015 12:35:43 GMT
recorded_with: VCR 2.9.3
