---
http_interactions:
- request:
    method: post
    uri: https://wsxxxx.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>YnceLODfqtw8PZNx7KofAGcyVT</sessionId></sessionHeader></env:Header><env:Body><tns:deleteTable><tns:table><tns:folderName>another_test_folder</tns:folderName><tns:objectName>table_1408568062</tns:objectName></tns:table></tns:deleteTable></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"deleteTable"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><deleteTableResponse
        xmlns="urn:ws.rsys.com"><result>true</result></deleteTableResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 20 Aug 2014 20:54:23 GMT
recorded_with: VCR 2.5.0
