---
http_interactions:
- request:
    method: post
    uri: https://login5.responsys.net/rest/api/v1/auth/token
    body:
      encoding: UTF-8
      string: user_name=florian%40thredup&password=your_responsys_password&auth_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"authToken":"AUTH_TOKEN","issuedAt":1440945790490,"endPoint":"https://api5-011.responsys.net"}'
  recorded_at: Sun, 30 Aug 2015 14:43:10 GMT
- request:
    method: post
    uri: https://api5-011.responsys.net/rest/api/v1/folders/supplement_table1_folder/suppData/supplement_table1_name
    body:
      encoding: UTF-8
      string: '{"recordData":{"fieldNames":["EMAIL_ADDRESS","PET_ID","PET_NAME"],"records":[{"fieldValues":["user2@email.com",111111111,"rspec_pet1"]}]},"matchColumnNames":["EMAIL_ADDRESS"]}'
    headers:
      Authorization:
      - AUTH_TOKEN
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"updateCount":1,"errorMessage":null,"insertCount":0,"totalCount":1,"rejectedCount":0}'
  recorded_at: Sun, 30 Aug 2015 14:43:12 GMT
recorded_with: VCR 2.9.3
