---
http_interactions:
- request:
    method: post
    uri: https://wsxxxx.responsys.net/webservices/services/ResponsysWSService
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="urn:ws.rsys.com"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><sessionHeader><sessionId>YVmCDJqHlEhtdzOI3N01LKZcjD</sessionId></sessionHeader></env:Header><env:Body><tns:mergeTableRecordsWithPK><tns:table><tns:folderName>Some
        Test Folder</tns:folderName><tns:objectName>some_supplementary_table</tns:objectName></tns:table><tns:recordData><tns:fieldNames>EMAIL_ADDRESS_</tns:fieldNames><tns:fieldNames>INVITER_ID</tns:fieldNames><tns:fieldNames>INVITER_NAME</tns:fieldNames><tns:records><tns:fieldValues>user2@email.com</tns:fieldValues><tns:fieldValues>10000</tns:fieldValues><tns:fieldValues>some name</tns:fieldValues></tns:records></tns:recordData><tns:insertOnNoMatch>true</tns:insertOnNoMatch><tns:updateOnMatch>NO_UPDATE</tns:updateOnMatch></tns:mergeTableRecordsWithPK></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"mergeTableRecordsWithPK"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version=''1.0'' encoding=''UTF-8''?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><mergeTableRecordsWithPKResponse
        xmlns="urn:ws.rsys.com"><result><insertCount>0</insertCount><updateCount>0</updateCount><rejectedCount>1</rejectedCount><totalCount>1</totalCount><errorMessage>Record
        0 = CANNOT INSERT: RECORD ALREADY EXISTS.&#xd;

        </errorMessage></result></mergeTableRecordsWithPKResponse></soapenv:Body></soapenv:Envelope>'
  recorded_at: Wed, 26 Nov 2014 11:34:17 GMT
recorded_with: VCR 2.9.3
